
pre {
	overflow:visible;
}
code.hljs {
	font-size:12px;
	box-shadow:0px 3px 28px -5px rgba(0, 0, 0, 0.23);
	background:#fff;
	padding: 15px 10px;
	border:none;

}

.tags {
	font-family: Inconsolata;
    background: #b5b5b5;
    color: #333;
    padding: 3px 3px;
}


body { 
	background:#fafafa;
	font-family: 'Source Sans Pro', serif;
	overflow-x:hidden!important;

}

h1,h2,h3 { font-family: Source Sans Pro, serif; }

#wrapper {
	float:left;
	width:100%;
	padding:0px 0;
	background:#f1f1f1;
}
#navigation {
	transition: 0.4s cubic-bezier(.19,1,.22,1);
	position:relative;
	padding-top:50px;
	nav {
		float:left;width: 100%;
		

		#logo {
			float: left;
		    width: 100%;
		    padding: 25px 21px 10px 50px;
		    text-align: left;
		    color: #4b5052;
		    margin-bottom: 20px;
		    h2 {
		    font-size: 30px;
		    font-weight: 600;
		     > span {
		     	font-size:10px;
		     	font-weight:400;
		     	margin-left:10px;
		     }
		    }
		    span.author {
		    	    font-size: 13px;
				    font-family: Source Sans Pro;
				    color: #908c8c;
				    i {
				    	border-bottom:1px dashed #ddd;
				    }
		    }
		}
		ul {
			margin:0;
			padding:10px 0 30px 0;
			float:left;
					width:100%;
			li {
				display:block;
				a {
					float:left;
					width:100%;
					color:rgba(0,0,0,0.5);
					font-family:Source Sans Pro;
					padding:5px 50px;
					transition: .4s cubic-bezier(.19,1,.22,1);
					position:relative;
					&:before {
						content: " ";
						width:10px;
						height:10px;
						border-radius:100%;
						background:transparent;
						position:absolute;
						left: 30px;
    					top: 13px;
    					transition: .4s cubic-bezier(.19,1,.22,1);
					}
					&:hover {
						color:#2175ff;
					}
					&.active {
						color:#2175ff;
						&:before {
							background:#2175ff;
						}
					}
				}
			}
		}
	}
}


div#social_buttons {
    padding: 20px 50px;
    .fb-share-button, .twitter-share-button {
    	float:left;
    }
    .twitter-share-button { 
    	margin-top:5px;
    	margin-left:12px;
    }
}


a.button {
    float: left;
    width: 100%;
    padding: 30px 60px;
    background: #000;
    color: #fff;
    margin: 10px 0;
    position:relative;
    overflow: hidden;
    .bg {
    	width:0%;
    	height:100%;
    	position:absolute;
    	top:0;
    	left:0;
    	background:#fff;
    	z-index:1;
    	transition: .4s cubic-bezier(.19,1,.22,1);
    }
    .content {
    	float:left;
    	width:100%;
    	position:relative;
    	z-index:2;
    }
    &.coffee {
    	padding: 30px 0;
    	text-align:center;
    	background:#afafaf;
    }

    i {
	    font-size: 94px;
	    position: absolute;
	    right: -19px;
	    top: 15px;
	    opacity: 0.2;
	    z-index:2;
	    transition: .5s cubic-bezier(.19,1,.22,1);
	    transform: translateY(0%);

	}

	&:hover {
		color:#000;
		.bg {
			width:100%;
		}
		i {
			color:#000;
			font-size: 54px;
		    right: 40px;
		    top: 50%;
		    opacity:1;
		    transform: translateY(-50%);
		}
	}
    /* border-radius: 3px; */
}

main > #content{ 
	background:#fff;
	box-shadow:0px 6px 64px 8px rgba(0, 0, 0, 0.07);
	padding:30px 40px;
	float:left;
	width:100%;

}
#standard { 
	display:block;
}
#fallback {
	display:none;
	> span {
		text-transform: uppercase;
		font-size:12px;
		letter-spacing: 2px;
		font-weight:500;
		padding:20px 0 10px 0;
		float:left;
		width:100%;
		color:rgba(0,0,0,0.4);
	}
	select {
		background:none;
		border:1px solid #cecbcb;
		outline:none;
		box-shadow:none;
		padding:20px;
		height:auto;
		border-radius:0;
	}
}


@media screen and (max-width: 1020px) {
	#standard {
		display:none;
	}
	#fallback {
		display:block;
	}
}

@media screen and ( max-width: 860px ) {
	#grab_wrapper, #donate_wrapper { padding:0!important; }
}

.sections { 
	padding: 40px 0;
	float:left;
	width:100%;
	border-bottom:1px solid #ddd;
	margin-bottom:40px;
	.title {
		float:left;
		width:100%;
		text-transform:uppercase;
		font-size:30px;
		color:#464646;
		letter-spacing: 2px;
		margin-bottom:30px;
	}
	p {
		font-size:13px;
		color:#4a4a4a;
		line-height: 26px;
		font-family: Libre Baskerville;
	}
	.subsection {
		float:left;
		width:100%;
		margin:0;
		padding: 30px 0 0 20px;
		> h4 {
			    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:30px;
		}
	}
}

.demos {
	margin:30px 0 0 0;
	> span {
		float:left;
		width:100%;
		text-transform: uppercase;
		font-size:12px;
		letter-spacing: 2px;
		margin-bottom:30px;
	}
	li { 
		display:block;
		padding:0 10px;
		margin-bottom:20px;
		position:relative;
		> span { 
			float:left;
			width:100%;
			height: 150px;
			background:#eee;
			text-align:center;
			strong {
				position:relative;
				top:50%;
				transform:translateY(-50%);
				float:left;
				width:100%;
				font-weight:400;
				color:rgba(51, 51, 51, 0.85);
				text-transform: uppercase;
				font-size:11px;
			}
		}
		.countdown {
		    position: absolute;
		    left: 0;
		    text-align: center;
		    float: left;
		    width: 100%;
		    bottom: 17px;
		    font-size: 11px;
		    font-style: normal;
		    color: #848484;
		}
	}
	&.animations {
		li {
			> span {
				height:120px;
			}
		}
	}
}

ul.steps {
	margin: 20px 0 0 0;
	float:left;
	width:100%;
	li {
		display:block;
		float:left;
		width:100%;
		margin-bottom:20px;
	}
	.instruction {
		color: #5d6869;
	    margin-bottom: 8px;
	    float: left;
	    width: 100%;
	    /* font-family: Libre Baskerville; */
	    font-size: 13px;
	}
}
#element {
	img {
		margin:20px 0;
		float:left;
		width:100%;
	}
	p {
		font-size:13px;
		font-family:Libre Baskerville;
		padding: 0 30px;
	}
}

table {
	float:left;
	width:100%;
	border:1px solid #ddd;
	thead {
		border-bottom:1px solid #ddd;
		tr {

			th {
				padding:0.5rem 0.625rem 0.625rem;
				text-transform: uppercase;
				font-size:12px;
				text-align:left;
				font-weight:600;
				color:rgb(115, 115, 115);
			}
		}
	}
	tbody {
		tr {
			border-bottom:1px solid #ddd;
			td {
				padding:10px 10px;
				font-size:14px;
				&:first-child {
					font-family: Inconsolata;
				}
				.code {
					span {
						float:left;
						background:#e5e5e5;
						padding:0 6px;
						border-radius:0px;
						font-size:11px;
						font-family: Inconsolata;
						margin-right:10px;
						opacity:0.5;
						&.default {
							opacity:1;
						}
					}
				}
			}
		}
	}
}

ul.param_specification {
	float:left;
	width:100%;
	margin:10px 0;
	li {
		display:block;
		margin:5px 0 0px 0;
		padding:0;
		font-size:13px;
		color:rgba(51, 51, 51, 0.65);
		span {
			float:left;
			background:#e5e5e5;
			border-radius:100px;
			padding:0 10px;
			margin-right:20px;
		}
		i {
			    border-bottom: 1px dashed #b717b0;
    			color: #b717b0;
		}
	}
}
.underline {
	border-bottom: 1px dashed;
}

span.fnParams {
			    border-bottom: 1px dashed #b717b0;
    			color: #b717b0;
		}

.positioning_demo {
	float:left;
	width:100%;
	position: relative;
	background: #ccc;
	box-shadow:0px 3px 28px -5px rgba(0, 0, 0, 0.23);
	transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
	height:170px;
	overflow:hidden;
	.screen {
		float: left;
	    width: 100%;
	    
	    padding: 30px 30px;
	    background:#fff;
	    left: 50%;
	    transform: translateX(-50%);
	    position: relative;
	    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
	    p { color:rgba(0,0,0,0.5); }
	    i {
	    	color:#000;
	    	font-weight:bold;
	    }
	    &.animate {
	    	width:70%;
	    	border-color:#ccc;
	    	&.animate2 {
	    		width:40%;
	    	}
	    }
	}
}

span.caption_code {
    background: #e6e6e6;
    float: left;
    width: 100%;
    padding: 20px 29px;
    color: #606c71;
    margin-top: -26px;
    text-align: center;
}

div#author_links {
    float: left;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    ul {
    	margin:0;
    	li {
    		display:inline-block;
    		a {
    			padding:0 7px;
    			color:#fff;
    		}
    	}
    }
}
small.note {
	padding: 9px 17px;
    float: left;
    width: 100%;
    border: 1px solid rgba(144, 144, 144, 0.35);
    border-radius: 3px;
    margin: 18px 0;
    font-family: Source Sans Pro;
    font-size: 15px;
    line-height: 29px;
    color: rgba(93, 93, 93, 0.82);
    img {
    	    width: 25px;
	    height: 25px;
	    margin-top: -3px;
	    margin-left: 2px;
    }
}
.hover, .animationParams{
  display:inline;
}

.main_footer {
	float:left;
	width:100%;
	h4 {
		 font-size: 10px;
	    letter-spacing: 0px;
	    color: #635e5e;
	    float:left;
		.fa-heart {
			color:#2175ff;
		}
		a {
			border-bottom:1px dashed #ddd;
			color:#222;
		}
	}
	.social {
		float:right;
		li {
			display:inline-block;
			a {
				font-size:18px;
				margin-left:16px;
				color:rgba(0,0,0,0.5);
				transition: .4s cubic-bezier(.19,1,.22,1);
				&.twitter:hover {
					color:#56a7ff;
				}
				&.portfolio:hover {
					color:#47b37e;
				}
				&.github:hover {
					color:#222;
				}
			}
		}
	}
}