<sidebar id = "navigation" class = "large-4 medium-12 small-12 columns float-left">
    <div>
    <nav id = "nav">
        <div id = "author_links">
            <ul>
                <li><a target="_blank" href="https://imprev.co"><i class="fa fa-user-circle-o"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/prevwong"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://dribbble.com/prevwong"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </div>
        <span id = "logo">
            <h2>{{ site.title | escape }}<span>v{{ site.version }}</span></h2>
            <span class = "author">Developed by <i class="defaultTooltip" title="#author_links" data-options="trigger:hover;position:bottom;">Prev Wong</i></span>
        </span>
        <ul>    

            <div id = "standard" >
            {% assign posts = site.posts | sort: 'index' %}
            {% for post in posts %}
                <li><a class="navigationalLinks" href="#{{ post.title | escape | downcase }}">{{ post.title | escape }}</a></li>
            {% endfor %}
            </div>

            <div style="padding:0 50px" id = "fallback">
            <span>Jump to</span>
            <select id = "mobile_fallback">
                {% for post in posts %}
                <option value="{{ post.title | escape | downcase }}">{{ post.title | escape }}</option>
                {% endfor %}
            </select>
            </div>
             <div style="float:left;width:100%" id = "social_buttons">
                <div class="fb-share-button" data-href="https://prevwong.github.io/drooltip.js/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprevwong.github.io%2Fdrooltip.js%2F&amp;src=sdkpreparse">Share</a></div>
             </div>
    </div>
        </ul>
    </nav>
     
</sidebar>